<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            
            <button class="btn btn-secondary" id="scrape-new">Scrape</button>
        </form>
    </div>
</nav>

<div id="container">
    <div class="card">
    <div class="card-body h5 mx-auto" id="articles">

    </div>
    <div class= "card">
    <div class = "card-body h6 mx-auto" id="notes"></div>
    </div>
</div>
</div>



